css/style.css
body{ 
	font: 15px/1.5 Arial, Helvetica, sanf-serif;
	padding: 0
	margin:0;
	background-color:#f4f4f4


}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;

}
.dak{
	padding: 15px;
	background: #35424a;
	margin-top: 10px;
	margin-bottom: 10px;
}


/* Header */
header{
	background: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #ffffff 3px solid;
}

header a{
	color: #ffffff
	text-decoration: none;
	 text-transform: uppercase;
	 font-size: 16px;
}

header ul{
	margin: 0;
	padding: 0;

}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;

}
header #branding h1 {
	margin: 0;
}
header nav{
		float: right; 
		margin-top: 10px;
	}

	header .highlight,  header .current a{
		color: #e8491d;
		font-weight: bold;
	}
	header a .hover{
		color: #cccccc;
		font-weight: bold;
	}

	/*show case*/

	#showcase{
		min-height: 400px;
		background: url('../img/devghat.jpg') ;
		text-align: center;
		color: #FFFF00
	}
#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
	color: #c60;
}
	
}
#showcase p{
	font-size: 20px;
}

	
/*boxes*/


}
#boxes{
	margin-top: 20px;
}
#boxes .box{
	float: left;
	width: 30%;
	padding: 10px;
}
#boxes .box img{
	width: 160px;

	
}
/*main-col*/
article#main-col{
	float: left;
	width: 65%;
}
/*sidebar*/
aside#sidebar{
	float: right;
	width: 30%
	margin-top:10px;
}

footer{
	padding: 20px;
	margin-top: 320px;
	color: #ffffff;
	text-align: center;
	background-color:#e8491d; 
}

}
